.navbar .nav-item:not(:last-of-type) {
    margin: 0 15px 0 0;
}

.layout {
    display: flex;
    flex-direction: column;
}

.layout > nav {
    flex: 0 0 auto;
}

.layout > nav > .navbar-brand {
    flex: 1 1 auto;
}

.layout > div {
    flex: 1 1 auto;
    display: flex;
}